body{
    text-align: center;
    background-image: url("../images/background.jpg");
}
h1{
    font-weight: bold;
}
.title{
    color:whitesmoke;
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.instructions{
    background-color: lavender;
    border: 1px solid black;
    padding: 5px;
    font-family: 'Dosis', sans-serif;

}
.target-number{
    background-color: aquamarine;
    height:100%;
    border: 1px solid black;
    font-family: 'Dosis', sans-serif;
}

#counters {
    text-align: left;
    font-weight: bold;
    line-height: 20px;
}
.crystals {
    height: 200px;
    background: purple;
    border: 1px solid black;
    padding: 5px;
    border-top: 20px;
    font-family: 'Dosis', sans-serif;
}
.score{
    background-color: lavender;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

#target{
    line-height:70px;
}