body{
    text-align: center;
    background-image: url("../images/background.jpg");
    cursor: url('http://cur.cursors-4u.net/others/oth-3/oth213.cur'), default;
}
h1{
    font-weight: bold;
}
.title{
    color:whitesmoke;
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.instructions{
    background-color: lavender;
    border: 1px solid black;
    padding: 5px;
    margin-bottom:10px;
    font-family: 'Dosis', sans-serif;
    font-size:20px;

}
.target-number{
    background-color: lightblue;
    height:100%;
    border: 1px solid black;
    font-family: 'Dosis', sans-serif;
    margin-bottom: -17px;
}

#counters {
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}
.crystals {
    height: 200px;
    background: purple;
    border: 1px solid black;
    padding: 5px;
    border-top: 20px;
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
}
.score{
    background-color: lavender;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
}

#target{
    line-height:70px;
}